.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f4f4f4;
}

.button {
    -fx-background-color: #3f51b5;
    -fx-text-fill: white;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: #283593;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-color: #999;
    -fx-border-radius: 5;
}
