
#dashboardRoot {
    -fx-background-color: linear-gradient(to bottom right, #1e3c75, #2a5298);
}


.dashboard-title {
    -fx-font-size: 48px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#loginRoot {
    -fx-background-color: linear-gradient(to bottom right, #1e3c75, #2a5298);
}


.login-title {
    -fx-font-size: 48px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.stats-label {
    -fx-font-size: 18px;
    -fx-text-fill: #e0e0e0;
}


.stats-value {
    -fx-font-size: 22px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
